/* PostForm.module.scss */

.input {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  
    form {
      display: flex;
      align-items: center;
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      width: 700px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      gap: 15px;
  
      @media (max-width: 768px) {
        flex-direction: column;
        width: 90%;
      }
  
      .img {
        img {
          border-radius: 50%;
          border: 1px solid black;
          width: 60px;
          height: 60px;
          object-fit: cover;
        }
      }
  
      input[type='text'] {
        flex: 1;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
  
        @media (max-width: 768px) {
          width: 100%;
        }
      }
  
      .buttons {
        display: flex;
        align-items: center;
        gap: 10px;
  
        .postButton {
          padding: 10px 15px;
          background-color: var(--button-background);
          color: var(--button-text-color);
          border: none;
          border-radius: 5px;
          cursor: pointer;
  
          &:hover {
            background-color: var(--button-hover-background);
          }
        }
  
        .fileInputButton {
          padding: 10px 15px;
          background-color: green;
          color: #fff;
          cursor: pointer;
          border-radius: 5px;
          border: none;
          font-size: 16px;
        }
  
        .postPhoto {
          display: none;
        }
      }
    }
  
    .photoPreview {
      margin-top: 10px;
      text-align: center;
  
      img {
        max-height: 100px;
        max-width: 100px;
        border-radius: 5px;
        margin-top: 10px;
      }
    }
  }
  